[submodule "Simple-Web-Server"]
	path = Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server
[submodule "tinytoml"]
	path = tinytoml
	url = https://github.com/mayah/tinytoml
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
