[submodule "Simple-Web-Server"]
	path = vendor/Simple-Web-Server
	url = https://github.com/eidheim/Simple-Web-Server
[submodule "tinytoml"]
	path = vendor/tinytoml
	url = https://github.com/mayah/tinytoml
[submodule "json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
